 body {
   height: 100%;
   background-color: #E42D2D;
   font-family: 'hk-grotesque';
 }
 @font-face {
   font-family: 'hk-grotesque';
   src: url(./assets/HKGrotesk-Regular.otf), format('otf');
 }
 
 /* Nav */

 .nav-bar {
   text-align: center;
   display: flex;
   justify-content: space-around;
   border-bottom: 1px solid white;
 }

 .nav-bar img {
   width: 70%;
   margin: 8% 0;
 }


/* Welcome page */
.welcome {
  text-align: center;
  height: 100vh;
}
.title-bar {
  height: 30%;
  margin-top: 20%;
  margin-right: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-bar img {
  padding: 0 10px;
  width: 10%;
}
.welcome h1 {
  color: white;
  padding-bottom: 5px;
  font-size: 3em;
}

.logo-credit {
  margin-top: 20%;
  height: 5px;
  font-size: .3em;
  left: 10%;
}

.logo-credit a {
  color: black;
  text-decoration: none;
}

/* Login/Register */
.auth-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 5% 20%;
  padding: 3% 0;
  border-radius: 5%;
  text-align: center;
  font-size: 1.5em;
}

.form-input::placeholder {
  text-align: center;
  font-size: 1em;
}

.form-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 2em;
  margin: 5% 30%;
  padding: 5% 5%;
  border-radius: 5px;
  font-family: 'hk-grotesque';
}

.form-button:hover {
  background-color: white;
  color: #E42D2D;
  cursor: pointer;
}

.redirect {
  color: white;
}

.redirect-button {
  color: white;
  text-decoration: underline;
  font-size: 1em;
  background: transparent;
  border: none;
}

.redirect-button:hover {
  cursor: pointer;
}

.reg-redirect {
  display: flex;
  justify-content: center;
}

/* Profile page */

.profile h2 {
  color: white;
  text-align: center;
}
.user-input {
  margin: 3% 10%;
  padding: 2% 0;
  border-radius: 5%;
  text-align: center;
  font-size: 1.5em;
}
.form p {
  text-align: center;
  color: white;
  margin-bottom: -2%;
}

.user-select {
  background-color: white;
  margin: 5% 5%;
  padding: 3% 0;
  text-align-last: center;
  font-size: 1.5em;
}


.user-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 2em;
  margin: 5% 15%;
  padding: 2% 2%;
  border-radius: 5px;
  font-family: 'hk-grotesque';
}

.user-button:hover {
  background-color: white;
  color: #E42D2D;
  cursor: pointer;
}

.profile p {
  text-align: center;
  margin: 0;
  color: white;
}

.logout-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 2em;
  margin: 2% 15%;
  padding: 2% 2%;
  border-radius: 5px;
  font-family: 'hk-grotesque';
}

.logout-button:hover {
  background-color: white;
  color: #E42D2D;
  cursor: pointer;
}

#logout {
  text-align: center;
}

/* Swiping section */
.card {
  padding-bottom: 30px;
  height: 100vh;
}

.card-image {
  position: relative;
  text-align: center;
  margin: 10% 5%;
  height: 100%;
}
.card-image img {
  width: 100%;
  height: 80%;
  border-radius: 5%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-content {
  position: absolute;
  bottom: 3%;
  left: 7%;
  max-width: 50%;
  color: white;
  font-size: 1em;
  text-shadow: 5px 5px 4px black;
}
.card-content h4 {
  margin: 0 0 5% 0;
}
.card-content p {
  margin: 0;
}
.budget {
  margin-top: 5%;
}
.card-buttons .no {
  position: absolute;
  top: 87%;
  right: 28%;
}
.card-buttons .yes {
  position: absolute;
  top: 87%;
  right: 8%;
}
.card-buttons img {
width: 15vw;
}
.card-buttons button {
  background: transparent;
  border: none;
}
.card-sorry {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40%;
  padding-left: 10%;
}

.modal {
  position: absolute;
  margin-top: -160%;
  margin-left: 8%;
  height: 30%;
  width: 60%;
  z-index: 1;
}
.modal-display {
  height: 120%;
  width: 140%;
  background-color: rgba(228, 45, 45, 0.7);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}

.modal-display button{
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 3% 5%;
  border-radius: 5%;
  margin: 0 0 5% 0;
}
.modal-display button:hover {
  background-color: white;
  color: #E42D2D;
  cursor: pointer;
}

/* Contact page */

.match-list {
  background-color: whitesmoke;
  height: 10%;
  color: black;
  text-align: center;
  font-size: 1.5em;
  width: 80%;
  margin-left: 10%;
}
.match-list p {
  padding-top: 3%;
}
.contact-card {
  margin: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card img {
  max-width: 80%;
}

.contact-card h4 {
  margin: 1% 0 3% 0;
}

.contact-card p {
  margin: -1% 0 1% 0;
}

.contact-buttons {
  display: flex;
  justify-content: space-around;
}
.contact-buttons button {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5%;
  margin: 0 5%;
}
.contact-buttons button:hover {
  background-color: #E42D2D;
  color: white;
  cursor: pointer;
}

.tab {
  border-bottom: 1px solid black;
}

/* Media queries */

@media (min-width: 700px) {
  body {
    font-size: 18px;
  }

  .welcome h1 {
    font-size: 5em;
  }

  .card-image img {
    height: 90%;
    width: 80%;
  }

  .card-content {
    bottom: -10%;
    left: 15%;
    max-width: 45%;
  }

  .card-buttons img {
    width: 10vw;
  }

  .card-buttons .no {
    top: 98%;
    right: 29%;
  }

  .card-buttons .yes {
    top: 98%;
    right: 15%;
  }

  .card-sorry {
    padding-left: 0;
  }
  .modal {
    margin-top: -110%;
    margin-left: 19%;
    height: 30%;
    width: 45%;
  }
  .modal-display button {
    padding: 5% 10%;
    font-size: 1em;
  }
}

@media (min-width: 950px) {
  .welcome {
    height: 20vh;
  }
  .title-bar {
    height: 30%;
    margin-top: 10%;
  }
  .auth-container {
    padding-top: 5%;
    width: 30%;
  }
  .form-input {
    margin: 4% 0;
    padding: 4% 0;
    width: 110%;
  }
  .form {
    align-items: center;
  }

  .nav-bar img {
    width: 40%;
    margin: 4% 0;
  }

  .user-input {
    width: 50%;
  }
  .card-image {
    margin: 2% 5%;
  }
  .card-image img {
    width: 50%;
    height: 90%;
  }
  .card-content {
    bottom: -5%;
    left: 30%;
  }
  .card-buttons img {
    width: 6vw;
  }

  .card-buttons .no {
    top: 92%;
    right: 40%;
  }

  .card-buttons .yes {
    top: 92%;
    right: 30%;
  }
  .card-sorry {
    padding-top: 20%;
  }
  .modal {
    margin-top: -45%;
    margin-left: 32%;
    height: 40%;
    width: 25%;
  }
  .modal-display button {
    font-size: 0.7em;
  }
}