 body {
   height: 100%;
   background-color: #E42D2D
 }
 
 /* Header */


/* Welcome page */
.welcome {
  text-align: center;
  height: 100vh;
}
.title-bar {
  height: 30%;
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome h1 {
  color: white;
}

.logo-credit {
  height: 5px;
  font-size: .3em;
  margin-bottom: auto;
  text-align: center;
}

.auth-container {
  padding-top: 20%;
}

.card {
  padding-bottom: 30px;
}